{% extends 'base.html' %}

{% block content %}
    <h2>Авторизация</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email(size=32) }}</p>
        <p>{{ form.password.label }} {{ form.password(size=32) }}</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}